# @format

name: Reusable SRS Deploy

on:
    workflow_call:
        inputs:
            target_branch:
                required: true
                type: string
                description: "Branch to checkout and deploy"
        secrets:
            registry_username:
                required: true
            registry_password:
                required: true

env:
    REGISTRY_URL: registry.mmsoft.com.br
    REGISTRY_AUTH_HTPASSWD_REALM: ${{ secrets.REGISTRY_AUTH_HTPASSWD_REALM }}
    REGISTRY_AUTH: htpasswd

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ inputs.target_branch }}

            - name: Login to Private Registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY_URL }}
                  username: ${{ secrets.registry_username }}
                  password: ${{ secrets.registry_password }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: apps/web/Dockerfile
                  push: true
                  tags: ${{ env.REGISTRY_URL }}/sports-rekryteing:latest
                  build-args: |
                      REGISTRY_AUTH=${{ env.REGISTRY_AUTH }}
                      REGISTRY_AUTH_HTPASSWD_REALM=${{ env.REGISTRY_AUTH_HTPASSWD_REALM }}
                      VITE_API_URL=${{ vars.VITE_API_URL }} 
                      VITE_GOOGLE_CLIENT_ID=${{ vars.VITE_GOOGLE_CLIENT_ID }} 
                      VITE_SITE_URL=${{ vars.VITE_SITE_URL }}

            - name: Trigger Portainer deploy webhook
              uses: fjogeleit/http-request-action@v1
              with:
                  url: "https://portainer.mmsoft.com.br/api/stacks/webhooks/2b96af4f-90f1-4a73-9868-22b999c6bf92"
                  method: "POST"
